@model FleetManagementSystem.Models.Performance_Analysis

@{
    ViewData["Title"] = "Performance Analysis";
}
<head>
  <style>

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .dropdown-menu {
        min-width: 140px;
        right: 0;
        left: auto;
    }
  </style>
</head>


<div class="bg-light">

    <nav id="navBar" class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand my-2 text-white" asp-controller="Admin" asp-action="AdminPage"><i class="fa-solid fa-truck"></i> Fleetora</a>

            <!-- Toggler added here -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="dropdown">
            <a class="nav-link mx-2 text-white" style="cursor: pointer;">
                <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <form asp-controller="PerformanceAnalysis" asp-action="Logout" method="post" class="dropdown-item p-0">
                        <button type="submit" class="btn text-danger w-100 text-start">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>

    </nav>

    <div class="text-start mt-3 ms-5">
        <a asp-controller="Admin" asp-action="AdminPage" type="back" class="btn btn-primary">Back</a>
    </div>

    <div class="container" id="dashboard">
        <h2 class="my-4 text-center">📊 Fleet Performance Dashboard</h2>

        

        <div class="row g-3 " style=" display: flex; justify-content: center;">
            <div class="col-md-3 ">
                <div class="card p-4 text-center shadow">
                    <h5>Total Trips This Year</h5>
                    <p class="fs-4 text-primary">@Model.TotalTrips</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-2 text-center shadow">
                    <h5> Maintanence Records</h5>
                    <div class="d-flex justify-content-around mt-2">
                        <div>
                            <p class="mb-1 text-success">Scheduled</p>
                            <p class="fs-4 text-success">@ViewBag.Scheduled</p>
                        </div>
                        <div>
                            <p class="mb-1 text-danger">Completed</p>
                            <p class="fs-4 text-danger">@ViewBag.Completed</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-2 text-center shadow">
                    <h5> Vehicle Status</h5>
                    <div class="d-flex justify-content-around mt-2">
                        <div>
                            <p class="mb-1 text-success">Available</p>
                            <p class="fs-4 text-success">@ViewBag.AvailableVehicles</p>
                        </div>
                        <div>
                            <p class="mb-1 text-danger">Unavailable</p>
                            <p class="fs-4 text-danger">@ViewBag.UnavailableVehicles</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h3 class=" text-center mt-3">Accepted Trips Overview</h3>
        <div style=" display: flex; justify-content: center;" class="mt-4">
            <img src="data:image/png;base64,@ViewBag.ChartImage" alt="Accepted Trips Chart" class="img-fluid" />
        </div>
        <h3 class=" text-center mt-3">Fuel Consumption Overview</h3>
        <div class="text-start mt-4" style=" display: flex; justify-content: center;">

            <img src=" data:image/png;base64,@ViewBag.FuelChartImage" alt="Fuel chart" class="img-fluid"  style="max-width:100%;height:auto;"/>
            
        </div>

        <div style="display: flex; justify-content: center;" class="mt-4">
            <a class="btn btn-primary" asp-controller="PerformanceAnalysis" asp-action="DownloadPerformancePdf">Download PDF</a>
        </div>



</div> 
</div>        
